@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: Roboto, system-ui, sans-serif;
      scroll-behavior: smooth;
    }
}

@layer components {
  .carousel {
    display: inline-flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    /* all below will hide the scrollbar on all browsers.    */
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
}